node_modules
dist
.tmp
.sass-cache
bower_components
build
.DS_Store
*.log
/log
/target/
/src/main/webapp/styles/css
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/src/test/mock/output/
.settings
.project
.classpath
.idea
fakeletter.iml
/bin/